
    <html>
        <head>
            <title>Contact</title>
            <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
        </head>
        <body>
            <%- include('partials/header') %>
            <h1>About</h1>

            <!-- CHANGE -->
            <p>   <%= aboutContent%></p> 
    
            <%- include('partials/footer') %>
        </body>