<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Contact</h1>
        <!-- CHANGE -->
        <p>   <%= contactContent%></p> 

        <%- include('partials/footer') %>
    </body>