<html>
    <head>
        <title> Home</title>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <h1>Home</h1>
        <p> <%= homeStartingContent%></p>
    
    
        <!-- Start of post here -->
        
        <!-- Post title inside the <h1> -->
        <h1> </h1>
    
        <p>
        <!-- Post content here substring(0, 100) concatenate " ..." -->  
        <a>Read More</a>
        </p>
        
        <%- include('partials/footer') %>
    </body>
</html>

 
