<html>
    <head>
        <title>Post</title>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>

        <!-- The title must be inside the <h1> tag and the content inside the <p> tag -->
        <h1></h1>
        <p></p>
        
        <div class="time">
            <p>Created at: </p>
            <p>Updated at: </p>
        </div>

        <a class="btn btn-sm btn-primary">Edit</a>
        <a class="btn btn-sm btn-danger">Delete</a>

        <%- include('partials/footer') %>
    </body>